<div class="container">
  <h1>Welcome to CloneList!</h1>
    <h2>
      <%= @post.name %>
    </h2>
    <ul>
      <li>PRICE:  $<%= @post.price.round(2) %></li>
      <li>EMAIL:   <%= @post.email %></li>
      <li>ZIPCODE: <%= @post.location %></li>
      <li><a href="/posts/edit/<%= @post.secret_key %>">Edit Post</a></li>
    </ul>
</div>
